version: '3.8'
networks:
  services:
    name: cluster

volumes:
  filestorage:
  persistence:

services:
  proxy:
    image: nginx
    container_name: proxy
    networks:
      - services
    ports:
     - 3000:3000
    volumes:
     - ./nginx.default.conf:/etc/nginx/conf.d/default.conf

  frontend:
    image: vtchk8sblueprintrg.azurecr.io/microservice-kubernetes-cluster/frontend:latest
    container_name: frontend
    networks:
      - services

  filestorage:
    image: vtchk8sblueprintrg.azurecr.io/microservice-kubernetes-cluster/file-storage:latest
    container_name: filestorage
    depends_on:
      - kafka
      - keycloak
    networks:
      - services
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - GRPC_CLIENT_PERSISTENCE_ADDRESS=dns:///persistence:9090
      - SERVER_SERVLET_CONTEXT_PATH=/filestorage
      - APPLICATION_HOSTNAME=http://localhost:3000
      - APPLICATION_UPLOAD_PATH=/etc/file-storage/uploads/
      - APPLICATION_PERSISTENCE_URL=http://persistence:8081/api/v1/messages
      - APPLICATION_KAFKA_BOOTSTRAPADDRESS=kafka:9092
      - OTEL_JAVAAGENT_ENABLED=false
    ports:
     - 8080:8080
    volumes:
      - filestorage:/etc/file-storage/uploads

  persistence:
    image: vtchk8sblueprintrg.azurecr.io/microservice-kubernetes-cluster/persistence:latest
    container_name: persistence
    depends_on:
      - mariadb
      - kafka
      - keycloak
    networks:
      - services
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SERVER_SERVLET_CONTEXT_PATH=/persistence
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/messaging
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.mariadb.jdbc.Driver
      - SPRING_H2_CONSOLE_ENABLED=false
      - SPRING_FLYWAY_LOCATIONS=classpath:db/migration/mariadb
      - APPLICATION_KAFKA_BOOTSTRAPADDRESS=kafka:9092
      - OTEL_JAVAAGENT_ENABLED=false
    ports:
     - 8081:8081

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    networks:
      - services
    depends_on:
      - mariadb
    environment:
      DB_VENDOR: mariadb
      DB_ADDR: mariadb
      DB_DATABASE: keycloak
      DB_USER: root
      DB_PASSWORD: password
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      JGROUPS_DISCOVERY_PROTOCOL: JDBC_PING
      PROXY_ADDRESS_FORWARDING: 'true'
    ports:
      - 8180:8080
    command: ["-Dkeycloak.migration.action=import", "-Dkeycloak.migration.provider=dir", "-Dkeycloak.migration.dir=/opt/jboss/keycloak/realm-config", "-Dkeycloak.migration.strategy=OVERWRITE_EXISTING"]
    volumes:
      - ./realm-config:/opt/jboss/keycloak/realm-config

  mariadb:
    image: library/mariadb:10.6
    container_name: mariadb
    restart: always
    networks:
      - services
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=messaging
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
    volumes:
      - persistence:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    networks:
      - services
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    networks:
      - services
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1