spring:
  profiles:
    active: dev, release-toggles
  application:
    name: filestorage
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 1MB
  lifecycle:
    timeout-per-shutdown-phase: 30s
springfox:
  documentation:
    enabled: false
server:
  port: 8080
  shutdown: graceful
  http2:
    enabled: true
  ssl:
    enabled: false
  compression:
    enabled: true
    mime-types: text/html,text/plain,text/css,application/javascript,application/json
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: when_authorized
togglz:
  console:
    enabled: false
    secured: true
    path: /togglz
    use-management-port: false
    feature-admin-authority: ROLE_togglz
  endpoint:
    enabled: true
application:
  functions.url: https://vtch-functions.azurewebsites.net/api
  kafka:
    bootstrapAddress: localhost:9092
    topic: auditing
    stream:
      topic: reverseAuditing
---
spring:
  config:
    activate:
      on-profile: dev
grpc:
  metricsA66Enabled: false
  client:
    persistence:
      address: static://localhost:9090
logging:
  level:
    root: INFO
    ch.valtech: DEBUG
management:
  security:
    username: actuator
    password: actuator
togglz:
  console:
    username: togglz
    password: togglz
application:
  hostname: http://localhost:8080
  upload.path: /tmp/internal/kubernetes/uploads/
  persistence.url: http://localhost:8081/api/v1/messages
  functions.key: functionKey
  token.url: http://localhost:8180/auth/realms/cluster/protocol/openid-connect/token
  cloud:
    storage:
      account.name: vtchk8sblueprinttfst
      container.name: filestorage
      account.key: secret
      connection: secret
  cors:
    allowed.origins: "*"
    allowed.methods: "*"
---
spring:
  config:
    activate:
      on-profile: prod
    import: file:/etc/config/application-prod.yml
---
spring:
  config:
    activate:
      on-profile: cloud
    import: file:/etc/config/cloud/application-cloud.yml
