name: Gradle Static Code Analysis

on:
  push:
    branches: [ main ]

jobs:
  build:
    environment: Demo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: SonarQube Frontend
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: cd ./frontend && npm install && npm test && npm run sonar -- ${{ secrets.SONARQUBE_HOST }} ${{ secrets.SONARQUBE_TOKEN }}
      - name: SonarQube Scan Backend
        run: ./gradlew sonarqube -Pjava_source_compatibility=11 -Pjava_target_compatibility=11 -Dsonar.host.url=${{ secrets.SONARQUBE_HOST }} -Dsonar.login=${{ secrets.SONARQUBE_TOKEN }}